<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doogle : Search a dog´s breed</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1>Doogle</h1>
    <div id="app">
        <div class="container">
            <div class="search-container">
                <div class="search-form">
                    <select v-model="breedSelected" @change='onSelectedBreed'>
                        <option disabled value="">Please select one breed</option>
                        <option v-for='breed in breedList' >{{ breed }}</option>
                    </select>
                    {{ breedSelected }}
                    <input type="text" v-model:value="breed" class='input' placeholder="search a simple dog...">
                    <button class="seach-button" @click="searchBreed()">Search</button>
                </div>
                <div class="erro-container">
                    {{ errMessage }}
                </div>
            </div>
            <div class="dog-grid">
               <div v-for="dogPicture in dogPictureList.slice(0,10)">
                <img :src='dogPicture' class='image-dog'/>
               </div>
            </div>
        </div>
        {{ $data }}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>