body {
    display: flex;
    flex-direction: column;
    justify-Content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: #292C34;
}
.container{
    
}

.search-container{

}
.input{

}
.seach-button{
    
}
.erro-container{

}


.dog-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: 'red';
    width: 500px; 
}

.image-dog{
    width: 200px;
    height: 200px;
}